{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                            {% for foo in form %}
                                <div class="form-group">
                                    {{ foo.label_tag }}
                                {{ foo }}
                                    <label for="">{{ foo.errors }}</label>
                                </div>
                            {% endfor %}

                            <input type="submit" value="login" class="btn btn-block btn-success">
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'register' %}" class="small text-muted float-left">Don't Have an account?</a>
                        <a href="{% url 'password_reset' %}" class="small text-muted float-right">Forget Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}