{% extends 'base.html' %}

{% block content %}
{% if validlink %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <h2 class="lead">Change Password</h2>
                    <form method="post">
                    {% csrf_token %}
                        {% for foo in form %}
                        <div class="form-group">
                            {{ foo.label_tag }}
                            {{ foo }}
                            {{ foo.error }}
                        </div>
                        {% endfor %}
                        <input type="submit" class="btn-success btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <h1>Token is not valid or Expired</h1>
{% endif %}
{% endblock %}