<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code with sadiq | from coding to creation</title>
    {% block link %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-main1 py-0">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav float-left">
            <li class="nav-item"><a href="{% url 'homepage' %}" class="small  text-uppercase nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="small  text-uppercase nav-link">about</a></li>
            <li class="nav-item"><a href="{% url 'course' %}" class="small  text-uppercase nav-link">Course</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}" class="small  text-uppercase nav-link">Contact</a></li>
            <li class="nav-item"><a href="{% url 'apply' %}" class="small  text-uppercase nav-link">Apply</a></li>
        </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-phone fa-rotate-90 fa-sm"></i> (+91) 9546-80-55-80</a></li>
         </ul>
  </div>
</nav>

<div class="clearfix"></div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-light p-5 bg-white shadow-sm">
        <a href="" class="navbar-brand my-auto">CWS <small class="ml-3">Programming Lab</small></a>



        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'student_profile' %}" class="btn bg-main1 text-white"><i class="fas fa-user"></i> My Account </a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="btn bg-main1 text-white"><i class="fas fa-user"></i> Login</a></li>
            <li class="nav-item"><a href="{% url 'apply' %}" class="btn bg-success text-white ml-2"><i class="fas fa-cursor"></i> Admission</a></li>
            {% endif %}
        </ul>



    </nav>
{% block content %}{% endblock %}




{% block footer %}{% endblock %}

<div class="jumbotron bg-dark text-white mb-0 rounded-0 mt-5">

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $(".form-group>input,select,textarea").addClass("form-control")
        })
    </script>

</body>
</html>